@model QuizApp.Models.Quiz
@{
    var results = ViewBag.Results as Dictionary<int, bool>;
}

<div class="quiz-container">
    <h1>@Model.Title</h1>

    <form method="post" action="/Home/SubmitQuiz">
        @foreach (var question in Model.Questions)
        {
            <div class="question-block">
                <h3>@question.Text</h3>
                <ul>
                    @for (int i = 0; i < question.Options.Count; i++)
                    {
                        <li>
                            <input type="radio" name="question_@question.Id" value="@i" id="question_@question.Id@i" />
                            <label for="question_@question.Id@i">@question.Options[i]</label>
                        </li>
                    }
                </ul>

                @if (results != null && results.ContainsKey(question.Id))
                {
                    <p class="feedback">
                        @if (results[question.Id])
                        {
                            <span class="correct">Correct!</span>
                        }
                        else
                        {
                            <span class="incorrect">Incorrect. The correct answer was @question.Options[question.CorrectOptionIndex].</span>
                        }
                    </p>
                }
            </div>
        }
        <button type="submit">Submit Quiz</button>
    </form>
</div>
